<toaster-container></toaster-container>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted"><a style="color: inherit; text-decoration: none;" routerLink="/home">Prodo</a></h3>
    </div>
    
    <router-outlet></router-outlet>
    <br />
    <footer class="footer">
        <p>© www.siddharthpandey.net 2017</p>
    </footer>
</div>