
<div class="clearfix">
    <div class="pull-left">
        <div class="button-group">
            <button type="button" class="btn btn-secondary" style="margin-right: -4px;" (click)="fetchProducts()" role="button">Show all</button>
            <button type="button" *ngFor="let category of categories" class="btn btn-secondary" (click)="onCategorySelect(category)" role="button">Show {{category.name}}</button>
        </div>
    </div>
    <div class="pull-right">
        <a class="btn btn-success" routerLink="/products/new" role="button"><i class="fa fa-plus"></i> Add Product</a>
    </div>
</div>
<br />
<br />

<div class="card-group">
    <div class="card product-card" *ngFor="let product of products" (click)="onProductSelect(product)">
        <img class="card-img-top product-card-image" [src]="product.imageUrl" alt="Product Image">
        <div class="card-block">
            <h4 class="card-title">{{product.name}}</h4>
            <p class="card-text">{{product.description}}</p>
            <h2>£{{product.cost}}</h2>
        </div>
        <div class="card-footer">
            <small class="text-muted">View Details &rsaquo;&rsaquo;</small>
        </div>
    </div>
</div>